<!DOCTYPE html>
<html>
<head>
  <title>Website Screenshot Viewer</title>
</head>
<body>
  <% if (screenshotPath) { %>
    <img src="<%= screenshotPath %>" alt="Latest Screenshot" width="800">
  <% } %>
</body>
</html>
