<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="45" />
    <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
    <title>Company Daily daily Sales</title>
  </head>
  <body>
    <div>
      <% if (screenshotPath) { %>
      <img src="<%= screenshotPath %>" alt="Latest Screenshot" width="100%" />
      <% } %>
    </div>
  </body>
</html>
